<!doctype html>
<html>
	<head>
		<%= partial "head" %>
		<%= stylesheet_link_tag("index-banner") %>
		<%= stylesheet_link_tag("home") %>
	</head>
	<%= partial "cogs" %>

	<body class="home">

		<%= partial "header-nav" %>
		<%= partial "index-banner" %>

		<main>
    <%= yield %>
		</main>
		<%= partial "footer" %>
	</body>
</html>
