<!doctype html>
<html>
	<head>
		<%= partial "head" %>
		<%= stylesheet_link_tag("index-banner") %>
		<%= javascript_include_tag("index-banner") %>
	</head>
	<%= partial "cogs" %>
	
	<body>
	
		<%= partial "header-nav" %>
		<%= partial "index-banner" %>
		
		
		<main>		
			<div class="content">
				<%= breadcrumb %>
				<% unless current_page.data["box-nav-title"].nil? -%>
					<h1><%=current_page.data["box-nav-title"]%></h1>
				<% end %>
				<%= category_nav current_page.data["box-nav"] %>
				
				<%	unless yield.empty?	-%>
					<article>
						<%=yield%>
					</article>
				<% end -%>		
			</div>			
		</main>		
		<%= partial "footer" %>						
	</body>
</html>
