<!doctype html>
<html>
	<head>
		<%= partial "head" %>
		<%= stylesheet_link_tag("index-banner") %>
		<%= javascript_include_tag("index-banner") %>
	</head>
	<%= partial "cogs" %>
	
	<body>
	
		<%= partial "header_nav" %>
		<header>
			<div 
				class="inner" 
				data-scroll-animation="fade-out",
				data-scroll-animation-options='{
					"start":25,
					"end":32,
					"min":1,
					"max":0
				}',
				data-preserve-aspect="true" 
				data-preserve-aspect-options='{
					"width":1895,
					"height":900
				}'
			>
				<img 
					src="images/index-banner/sky.png"
					class="layer" 
					data-scroll-animation="parallax-y",
					data-scroll-animation-options='{
						"speed":0,
						"offset":0
					}'
					style="
						filter: blur(0.125em);
					"
				/>
				<img 
					src="images/index-banner/city.png"
					class="layer" 
					data-scroll-animation="parallax-y",
					data-scroll-animation-options='{
						"speed":-0.05125,
						"offset":2
					}'
					style="
						filter: blur(0.0625em);
					"

				/>
				<img 
					src="images/index-banner/roof.png"
					class="layer" 
					data-scroll-animation="parallax-y",
					data-scroll-animation-options='{
						"speed":-0.125,
						"offset":5
					}'
					style="
						filter: blur(0.03125em);
					"
					
				/>
				<img 
					src="images/index-banner/balloon.png"
					class="layer" 
					data-scroll-animation="parallax-y",
					data-scroll-animation-options='{
						"speed":-0.5,
						"offset":0
					}'
				/>		


				<div class="wordmark-container">
					<img 
						src="images/wordmark.png"
						class="wordmark"
						alt="Wollstonecraft"
						data-scroll-animation="fade-out",
						data-scroll-animation-options='{
							"start":-5,
							"end":2,
							"min":0.9,
							"max":0
						}'
					/>
					<div 
						class="slogan"
						data-scroll-animation="fade-out",
						data-scroll-animation-options='{
							"start":-5,
							"end":-1,
							"min":0.9,
							"max":0
						}'
					>					
						<%= globals["slogan"] %>
					</div>
				</div>				
				</div>
			
			
			<!--
			<div id="index-banner" class="gradient" >
				
				
				<div class="foreground"  data-scroll-fade="true" data-scroll-start="10" data-scroll-end="20" data-fade-relative="top">
					<img src="images/ada.png" class="left"/>
					<img src="images/mary.png" class="right"/>
				</div>
				
			</div>
			
			!-->
		</header>
		
		<main>		
			<hr class="top"/>
			<div class="content">
				<%= breadcrumb %>
				<%	unless yield.empty?	-%>
					<article>
						<%=yield%>
					</article>
				<% end -%>		
				<%= category_nav current_page.data["box-nav"] %>
			</div>
			
			<hr class="bottom"/>
		</main>
		<%= partial "footer" %>						
	</body>
</html>
