<!doctype html>
<html>
	<head>
		<%= partial "head" %>
		<%= stylesheet_link_tag("index-banner") %>
		<%= javascript_include_tag("index-banner") %>
	</head>
	<%= partial "cogs" %>
	
	<body>
	
		<%= partial "header-nav" %> 
		<%= partial "index-banner" %>
		
		
		<main>		
			<div class="content">
				<%= newsfeed globals['main_newsfeed'] %>
				
				<%	unless yield.empty?	-%>
					<article>
						<%=yield%>
					</article>
				<% end -%>		
			</div>			
		</main>		
		<%= partial "footer" %>						
	</body>
</html>
