<!doctype html>
<html>
	<head>
		<%= partial "head" %>
		<%= stylesheet_link_tag("index-banner") %>
		<%= javascript_include_tag("index-banner") %>
	</head>
	
	<body>
	
		<%= partial "header_nav" %>
		<header>			
			
			<div id="index-banner" class="gradient" >
				<div class="background" data-parallax="scroll" data-image-src="images/banners/index.png"></div>
				<div class="wordmark-container">
					<img data-scroll-fade="true" data-min-opacity="0.9" data-scroll-start="0" data-scroll-end="10" data-fade-relative="top" class="wordmark" src="images/wordmark.png" alt="Wollstonecraft"/>
					<div class="slogan" data-min-opacity="0.9" data-scroll-fade="true" data-scroll-start="10" data-scroll-end="15" data-fade-relative="top">
						<%= globals["slogan"] %>
					</div>
				</div>
				<div class="foreground"  data-scroll-fade="true" data-scroll-start="10" data-scroll-end="20" data-fade-relative="top">
					<img src="images/ada.png" class="left"/>
					<img src="images/mary.png" class="right"/>
				</div>
				
			</div>
		</header>
		
		<main>		
			<hr class="top">			
			<div class="content">
				<%= breadcrumb %>
				<%	unless yield.empty?	-%>
					<article>
						<%=yield%>
					</article>
				<% end -%>		
				<%= category_nav current_page.data["box-nav"] %>
			</div>
			
			<hr class="bottom"></div>
		</main>
		<%= partial "footer" %>						
	</body>
</html>
