<!doctype html>
<html>
	<head>
		<%= partial "head" %>
		<%= stylesheet_link_tag("index-banner") %>
	</head>
	<%= partial "cogs" %>

	<body>

		<%= partial "header-nav" %>
		<%= partial "index-banner" %>


		<main>
			<div class="content">

        <div class="newsfeed">
          <div class="category">
            <div class="section newsfeed">
              <a href="the-game.html" class="item boxsize-2x3">
                <img src="images/nav-items/the-game.jpg"/>
                <div class="details">
                  <h2>The B.L.E. Game</h2>
                  A wonderous machine,  a brilliant machine, a fantastic machine!  Explore the fictional imagining of Babbage's computer built custom for Ada.
                </div>
              </a><a href="whats-your-detective-style.html" class="item boxsize-1x3">
              <img src="images/nav-items/whats-your-detective-style.png"/>
              <div class="details">
                <h2>What's your detective style?</h2>
                Learn your detective style by answering these 10 weird questions.
              </div>
            </a><a href="punch-cards.html" class="item boxsize-1x2">
              <img src="images/nav-items/punch-cards.png"/>
              <div class="details">
                <h2>Ada's Punchcard Training</h2>
                Learn how punch cards work
              </div>
            </a><a href="punch-card-challenge.html" class="item boxsize-1x1">
              <img src="images/nav-items/punch-card-challenge.png"/>
              <div class="details">
                <h2>Punchcard Challenge</h2>
                A challenging game to help learn binary
              </div>
            </a>		</div>
          </div>
          <div class="category">
            <h2 class="section-title">The Agency</h2>
            <div class="section newsfeed">
              <a href="letters-from-ada-and-mary.html" class="item boxsize-1x2">
                <img src="images/nav-items/letters-from-ada-and-mary.png"/>
                <div class="details">
                  <h2>Letters from Ada and Mary</h2>

                </div>
              </a><div class="does-not-exist">'bleh-machine.html' does not exist</div><a href="algorithms.html" class="item boxsize-1x1">
              <img src="images/nav-items/algorithms.png"/>
              <div class="details">
                <h2>Algorithms training</h2>

              </div>
            </a><a href="punch-cards.html" class="item boxsize-1x1">
              <img src="images/nav-items/punch-cards.png"/>
              <div class="details">
                <h2>Ada's Punchcard Training</h2>
                Learn how punch cards work
              </div>
            </a><a href="whats-your-detective-style.html" class="item boxsize-1x1">
              <img src="images/nav-items/whats-your-detective-style.png"/>
              <div class="details">
                <h2>What's your detective style?</h2>
                Learn your detective style by answering these 10 weird questions.
              </div>
            </a>		</div>
          </div>
          <div class="category">
            <h2 class="section-title">The Books</h2>
            <div class="section posters">
              <a href="the-books.html#book1">
                <img src="images/nav-items/book1.png"/>
                <h2>Book 1: The case of the missing moonstone</h2>
              </a>
              <a href="the-books.html#book2">
                <img src="images/nav-items/book2.png"/>
                <h2>Book 2: The Case of the Girl in Grey</h2>
              </a>
              <a href="the-books.html#book3">
                <img src="images/nav-items/book3.png"/>
                <h2>Book 3: The Case of the Counterfeit Criminals</h2>
              </a>
              <a href="the-books.html#book4">
                <img src="images/nav-items/book4.png"/>
                <h2>Book 4: The Case of the Perilous Palace</h2>
              </a>
            </div>
          </div>
        </div>
				<%	unless yield.empty?	-%>
					<article>
						<%=yield%>
					</article>
				<% end -%>
			</div>
		</main>
		<%= partial "footer" %>
	</body>
</html>
