<!doctype html>
<html>
	<%= partial "head" %>
	<body>
	
		<%= partial "header_nav" %>
		<header>			
			<%= stylesheet_link_tag("index-banner") %>
			<%= javascript_include_tag("index-banner") %>
			
			<div id="index-banner" class="gradient">
				<div class="background" data-parallax="scroll" data-image-src="images/banners/index.png"></div>
				<div class="wordmark-container">
					<img data-scroll-fade="true" data-scroll-start="0" data-scroll-end="10" data-fade-relative="top" class="wordmark" src="images/wordmark.png" alt="Wollstonecraft"/>
					<div data-scroll-fade="true" data-scroll-start="10" data-scroll-end="20" class="slogan">
						Explore the history of computing and the Wollstonecraft universe
					</div>
				</div>
			</div>
		</header>
		
		<main>		
			<hr class="top">			
			<div class="content">
				<%= breadcrumb %>
				<%	unless yield.empty?	-%>
					<article>
						<%=yield%>
					</article>
				<% end -%>		
				<%= category_nav current_page.data["box-nav"] %>
			</div>
			
			<hr class="bottom"></div>
		</main>
		<%= partial "footer" %>						
	</body>
</html>
