<!doctype html>
<html>
	<head>
		<%= partial "head" %>
	</head>
	<body>
	
		<%= partial "header_nav" %>
		<header data-scroll-fade="true" data-scroll-start="6" data-scroll-end="12">
			<div class="gradient">
				<%= banner %>	
				<div class="wordmark-container">
					<img  data-scroll-fade="true" data-scroll-start="0" data-scroll-end="5" class="wordmark" src="images/wordmark.png" alt="Wollstonecraft"/>
				</div>
			</div>
		</header>
		
		<main>		
			<hr class="top">			
			<div class="content">
				<%= breadcrumb %>
				<%	unless yield.empty?	-%>
					<article>
						<%=yield%>
					</article>
				<% end -%>		
				<%= category_nav current_page.data["box-nav"] %>
			</div>
			
			<hr class="bottom"></div>
		</main>
		<%= partial "footer" %>						
	</body>
</html>
