<!doctype html>
<html>
	<head>
		<%= partial "head" %>
	</head>
	<%= partial "cogs" %>	
	<body>
	
		<%= partial "header-nav" %>
		<header>
			<div class="inner"
				data-scroll-animation='{
				"fade-out":{
					"start":6,
					"end":14,
					"min":1,
					"max":0
				}
			}'>
				<div class="gradient">
					<%= banner %>	
					<div class="wordmark-container">
						<img  
							data-scroll-animation='{
								"fade-out":{
									"start":-4,
									"end":1,
									"min":1,
									"max":0
								}
							}'
							class="wordmark" 
							src="images/wordmark.png" 
							alt="Wollstonecraft"/>
					</div>
				</div>
			</div>
		</header>
		
		<main>		
			<div class="content">
				<%= breadcrumb %>
				<% unless current_page.data["box-nav-title"].nil? -%>
					<h1><%=current_page.data["box-nav-title"]%></h1>
				<% end %>
				<%= category_nav current_page.data["box-nav"] %>
				
				<%	unless yield.empty?	-%>
					<article>
						<%=yield%>
					</article>
				<% end -%>		
			</div>			
		</main>		

		<%= partial "footer" %>						
	</body>
</html>
