<!doctype html>
<html>
	<%= partial "head" %>
	<body>
		<div class="wrapper">
			<%= partial "header_nav" %>
			<div id="scroll-area">
				<div class="textured-area">
					<%= partial "header_body" %>
					<div class="background-gradient"></div>
					<div class="content">
						<%=yield%>
					</div>
					<%= category_nav current_page.data["box-nav"] %>
				</div>
				<%= partial "footer" %>
			</div>
		</div>
	</body>
</html>
