<!doctype html>
<html>
	<%= partial "head" %>
	<body>
		<div class="wrapper">
			<%= partial "header_nav" %>
			<div id="content">
				<%= partial "header_body" %>
				<div class="background-gradient"></div>
				<nav>
					<%= yield %>
				</nav>
			</div>
			<%= partial "footer" %>
		</div>
	</body>
</html>
