<!doctype html>
<html>
	<%= partial "head" %>
	<body>
		<div class="wrapper">
			<%= partial "header_nav" %>
			<div id="scroll-area">
				<div id="header-spacer"></div>			
				<div class="textured-area">
					<%= banner %>
					<div class="background-gradient-top"></div>
					<%= breadcrumb %>
					<%	unless yield.empty?	-%>
						<div class="content">
							<%=yield%>
						</div>
					<% end -%>
					<%= category_nav current_page.data["box-nav"] %>
					<div class="background-gradient-bottom"></div>
				</div>
				<%= partial "footer" %>
			</div>
		</div>
	</body>
</html>
