<!doctype html>
<html>
	<head>
		<%= partial "head" %>
	</head>
	<%= partial "cogs" %>
	<body>

		<%= partial "header-nav" %>
		<% unless !current_page.data["no-header"].nil? %>
		<header class="secondary">
			<div class="inner"
				data-scroll-animation='{
				"fade-out":{
					"start":6,
					"end":14,
					"min":1,
					"max":0
				}
			}'>
				<div class="gradient">
					<%= banner %>
					<div class="wordmark-container">
						<img
							data-scroll-animation='{
								"fade-out":{
									"start":-4,
									"end":1,
									"min":1,
									"max":0
								}
							}'
							class="wordmark"
							src="images/wordmark.png"
							alt="Wollstonecraft"/>
					</div>
				</div>
			</div>
		</header>

		<% else %>
		<div class="no-header"></div>
		<% end %>
		<main>
			<div class="content">
				<% unless current_page.data["box-nav-title"].nil? -%>
					<h1><%=current_page.data["box-nav-title"]%></h1>
				<% end %>

				<%	unless yield.empty?	-%>
					<article>
						<%=yield%>
					</article>
				<% end -%>
			</div>
		</main>

		<%= partial "footer" %>
	</body>
</html>
