<!doctype html>
<html>
	<%= partial "head" %>
	<body>
	
		<%= partial "header_nav" %>
		<header>
			<%= banner %>
		</header>
		
		<main>		
			<hr class="top">			
			<div class="content">
				<%= breadcrumb %>
				<%	unless yield.empty?	-%>
					<article>
						<%=yield%>
					</article>
				<% end -%>		
				<%= category_nav current_page.data["box-nav"] %>
			</div>
			
			<hr class="bottom"></div>
		</main>
		<%= partial "footer" %>						
	</body>
</html>
