<a href="<%= item['link'] %>" class="item boxsize-<%= !item['boxsize'].nil? ? item['boxsize'] : "1x1" %>">
	<%= item['preview'] %>
	<div class="details">
		<h2><%= item['title'] %></h2>
		<%= item['description'] %>
	</div>
</a>