---
title: Algorithms training
breadcrumb: The Agency, Ada's Training
category: The Agency
---
<h2>Ada's Training</h2>

<div class="dialog">
	<%= img("Ada3.png","speech",15) %>
	<p class="speech-bubble">You&rsquo;re not completely useless, so I thought I&rsquo;d show you what I&rsquo;ve figure out.</p>
</div>	
<div class="dialog">
	<p class="speech-bubble green">I love to invent things, and sometimes I draw them first but sometimes I just start putting bits together. So I need lots of bits, and I put them places on purpose.</p>
	<%= img("Ada2.png","speech",15) %>
</div>	
<div class="dialog">

	<%= img("Ada.png","speech",15) %>
	<p class="speech-bubble">Thing is, I can forget about the bits for a while and what I was going to do with them, and then somebody tidies up and I can&rsquo;t find what I need.</p>

</div>	
<div class="dialog">

	<p class="speech-bubble red">For a long time I sorted things by what I was going to do with them, or by the sound they remind me of. Not the sound they make, mind you. Took me ages to realize that other people don&rsquo;t do that, so I stopped getting mad at Anna for cleaning.</p>
	<%= img("Ada4.png","speech",15) %>

</div>	
<div class="dialog">

	<%= img("Ada3.png","speech",15) %>
	<p class="speech-bubble">Anyway, I&rsquo;ve got this fellow here, and he sorts parts out for me so Anna doesn&rsquo;t have to tidy up and I can still find things. I just needed a way to tell him how to do it, one step at a time. It&rsquo;s like a recipe.</p>

</div>	
<div class="dialog">

	<p class="speech-bubble green">First I tell him what I&rsquo;m looking for, and something about it. Like a 5cm cog.</p>
	<%= img("Ada2.png","speech",15) %>

</div>	
<div class="dialog">

	<%= img("Ada.png","speech",15) %>
	<p class="speech-bubble">He&rsquo;s got to reach into the pile, pull something out, see if it&rsquo;s the bit or not, and if it&rsquo;s not, put it in the Not The Thing Bin.</p>

</div>	
<div class="dialog">

	<p class="speech-bubble red">Then he&rsquo;s got to check it&rsquo;s the right size, and if it isn&rsquo;t, it goes in the bin, and if it is, he has to tell me with the bell here. Ting!</p>
	<%= img("Ada4.png","speech",15) %>

</div>	
<div class="dialog">
	

	<%= img("Ada3.png","speech",15) %>
	<p class="speech-bubble">And then do it all again, of course. It&rsquo;s on a loop. That&rsquo;s what this last card is.</p>

</div>	
<div class="dialog">
	

	<p class="speech-bubble green">Just follow the steps, it&rsquo;s like making a souffl&eacute;, if you know how to make a souffl&eacute;. I don&rsquo;t, but I&rsquo;m sure it&rsquo;s easy. One step at a time. You&rsquo;ll get the hang of it.</p>
	<%= img("Ada2.png","speech",15) %>
	
</div>
