---
title: Wollstonecraft Detective Agency
layout: home

conversation:
  - You're the new assistant. Good, good. Get to work.
  - Not &ldquo;assistant,&rdquo; they're our new recruit! I'm terribly sorry, you'll have to excuse Lady Ada, she's not much for formalities. How do you do? I am Mary, and together with Ada, we are the proprietors of the Wollstonecraft Detective Agency!
  - We must presume they know all that. Found their way here, after all. Only logical.
  - Very true! Well then, we look forward greatly to your assistance in unraveling whatever mysterious cases are brought to our attention.
  - Hm. Was meant to be a covert agency. Covert meaning secret, hidden from view, unknown to the general public. No &ldquo;recruits.&rdquo;
  - Ada, we can't remain a secret forever! And we need their help.
  - Training. Required.
  - Ah yes, of course. Do make yourself at home here. We hope that you take some time to familiarize yourself with our methods! Perhaps you could first determine your detective style, so we might employ you in the most efficacious manner.
  - Efficacious, as in adequate, capable, useful.
  - Ada, why don't you introduce them to the BLE machine? It is, after all, the Agency's crown jewel.
  - My Byron Lignotractatic Engine. Yes. They must learn to operate it.
  - And to do that, you'll have to learn how to punch and read punchcards! I am a bit envious that you get the experience of learning punchcards for the first time! Well. Let's get started with a few activities, while we ready the Agency for our next case!

sections:
  newsfeed:
    -
      title: Program the BLE
      subtitle: Ada, with her friend Charles Babbage, has created the world's very first computer. See if you can program the BLE to solve these puzzles!
      href: the-game.html
      img: images/nav-items/the-game.jpg
      boxsize: 1x3
    -
      title: Find your detective style
      subtitle: Every detective approaches a case differently. If you're to join the Agency, we should have some idea of your methods. Let us delve into the workings of your mind!
      href: whats-your-detective-style.html
      img: images/nav-items/whats-your-detective-style.png
      boxsize: 1x3
    -
      title: Punchcard Training
      subtitle: Discover binary and the method by which Ada programs the BLE. Ada will show you the ropes, or should I say the cards?
      href: punch-cards.html
      img: images/nav-items/punch-cards.png
      boxsize: 1x2
    -
      title: Punchcard Challenge
      subtitle: Let us gauge your binary proficiency with this gauntlet of punchcard challenges!
      href: punch-card-challenge.html
      img: images/nav-items/punch-card-challenge.png
      boxsize: 1x2
---

<div class="conversation">
  <img src="images/content/ada-full-conversation.png" class="character-left">
  <img src="images/content/mary-full-conversation.png" class="character-right">
  <div class="bubbles">

    <% current_page.data.conversation.each_with_index do |line, i| %>
    <div class="talk-bubble round tri-right <%= if i.even? then 'btm-left-in' else 'btm-right-in' end %>">
      <p><%= line %></p>
    </div>
    <% end %>

  </div>
</div>

<%= clear %>

<div class="content">
  <div class="newsfeed">
    <div class="category">
      <% current_page.data.sections.each do |key, items| %>
      <div class="section <%= key %>">
        <% items.each do |item| %>
        <a href="<%=item.href%>" class="item boxsize-<%=item.boxsize%>">
          <img src="<%=item.img%>">
          <div class="details">
            <h2><%=item.title%></h2>
            <%=item.subtitle%>
          </div>
        </a>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
