---
breadcrumb: The Agency, Ada's Training
title: Punchcard Training
category: The Agency
banner: the-agency.png
---
<h2>Punchcard Training</h2>


<div class="dialog">
	<%= img("Ada.png","speech",15) %>
	<p class="speech-bubble">Count the dots on each of these cards. What do you notice about the number of dots on these cards?</p>
</div>

<p>[ Image of four punch cards in a row, each with just one register punched. The display on the cards is the dot display, with dots corresponding to the number that is punched. ]</p>

<div class="dialog">
	<p class="speech-bubble">Each card has twice as many dots as the card to its right.</p>
	<%= img("Ada4.png","speech",15) %>
</div>

<div class="dialog">
	<%= img("Ada3.png","speech",15) %>
	<p class="speech-bubble">We can use these cards to make numbers by turning some of them face down and adding up the dots that are showing:</p>
</div>

<p>[image where the 1st and 2nd cards are face up and all the others are flipped over]</p>

<div class="dialog">
	<p class="speech-bubble">Count the dots. There are 12 dots in total.</p>
	<%= img("Ada2.png","speech",15) %>
</div>

<div class="dialog">
	<%= img("Ada.png","speech",15) %>
	<p class="speech-bubble">Whether the card is flipped over or not, means that it can be in two possible states. We call this a binary state. When a card is flipped and no dots are visible, it is represented by a zero. When the dots are visible showing, it is represented by a one. This is the binary number system. </p>
</div>

<div class="dialog">
	<p class="speech-bubble">The cards above can be represented by the following binary number:</p>
	<%= img("Ada4.png","speech",15) %>
</div>

<p>[show the cards again with 1100 beneath them, or just add 1100 to the image above]</p>

<div class="dialog">
	<%= img("Ada3.png","speech",15) %>
	<p class="speech-bubble">Now, notice that there is also a hole in the card under each column of dots? If we combine the visible cards into one, we can read the holes as a binary number.</p>
</div>

<p>[image of one card with the 1st and 2nd holes punched and 1100 below the card again (lined up with the holes)]</p>

<div class="dialog">
	<p class="speech-bubble">Can you make some more binary numbers by punching holes in the cards below?:</p>
	<%= img("Ada2.png","speech",15) %>
</div>

<!-- THE GAME !-->
<%= stylesheet_link_tag("punchcard-challenge") %>
<%= javascript_include_tag("punchcard-challenge") %>
<div class="punch-card-challenge">

	<div class="punch-card-interface" data-flippable="true" data-flipped="false">
		<div class="punch-card">
			<div class="columns">
				<div class="bean-counter" data-count="0" data-max="8"></div>
				<div class="bean-counter" data-count="0" data-max="4"></div>
				<div class="bean-counter" data-count="0" data-max="2"></div>
				<div class="bean-counter" data-count="0" data-max="1"></div>
			</div>
			<div class="hole-strip">
				<div class="hole" data-bit="3"></div>
				<div class="hole" data-bit="2"></div>
				<div class="hole" data-bit="1"></div>
				<div class="hole" data-bit="0"></div>
			</div>
		</div>
		<div class="equals">=</div>
		<div class="result number-counter" data-value="0" data-hide="true">0</div>
		<!-- <button class="flip">Flip</button> !-->
		
	</div>
</div>
