---
title: The B.L.E. Game
description: A wonderous machine,  a brilliant machine, a fantastic machine!  Explore the fictional imagining of Babbage's computer built custom for Ada.
category: The Game
no-header: true
layout: the-game
game-text:
  mobile-only: Sorry,  this content is only available on desktop browsers
  categories:
    -
      name: Turtle Language
      lessons:
        -
          name: Tutorial
          id: SimpleTurtle1
          followUp: RiverMaze
          dialogs:
            - 
              id: intro
              text: Blah blah, something about how simple turtle language works
            - 
              id: tutorial1
              text: This is a tutorial text example
            - 
              id: tutorial2
              text: Tutorial example #2
            - 
              id: win
              text: You won simple turtle language  tutorial
        -
          name: River Maze
          id: RiverMaze
          dialogs:
            - 
              id: intro
              text: Find your way to the X using the up/down/left/right cards
            - 
              id: win
              text: You win
    -
      name: Mathscii
      lessons:
        -
          name: Free play
          id: Mathscii1
          dialogs:
            - 
              id: intro
              text: This is the mathscii calculator program.  Use it to calculate things freely.
              
---

<script src="TemplateData/UnityProgress.js"></script>  
<script src="blegame/UnityLoader.js"></script>

<%= stylesheet_link_tag("the-game") %>
<%= javascript_include_tag("slide-show") %>
<%= javascript_include_tag("the-game") %>
<script>
  gameBridge.GameText(<%= export_game_text %>)
</script>


<div id="slide-show" class="ble-game-container">
</div>

<%= clear %>