---
title: About Wollstonecraft
banner: 1826.jpg
category: Wollstonecraft
---
<h2>1826</h2>

<p>John Quincy Adams was president of the United States. The prince regent of England had become King George IV just six years before, and the future Queen Victoria was only seven years old. By 1826, the world had seen a recent flurry of inventions: Volta's electric battery (1800), Fulton's submarine and torpedo (1800), Winsor's patented gas lighting (1804), Trevithick's steam locomotive (1804), Davy's electric arc light (1809), Bell's steam-powered boat (1812), and Sturgeon's electromagnet (1824). It was an exciting time of technological advancement, and it brought forth two very bright girls who changed the world through their intellect and imagination.</p>

<p>The lives of women-and particularly girls-were extremely limited and under constant watch. Women were not allowed to vote or practice professions, and were widely thought to be less capable than men. A girl's value to her family was in her reputation and her service, and she was expected to obediently accept a husband of her parents' choosing. Any threat to that reputation-like behaving unusually-was often enough to ruin a family.</p>

<p>However, because girls were not expected to have a career and compete with their (or anybody's) husband, upper-class girls were free to read or study as they wished, for few took them seriously. Because of this rare freedom, the nineteenth century saw a sharp surge in the intellectual contributions of female scientists and mathematicians, with Ada foremost among them.</p>


<h2>Character bios and background</h2>


<%= img("Ada.png","left",15) %>
<h3>Ada Byron</h3>
<p>Augusta Ada Byron (1815-1852) was a brilliant mathematician and the daughter of the poet Lord Byron (who died when Ada was eight). Largely abandoned by her mother, she was raised by servants (and sometimes her grandmother) at the Marylebone house and was very much cut off from the world as a child.</p>
<p>With her legendary temper and lack of social skills (a modern historian unkindly calls her "mad as a hatter"), Ada made few friends. Her mother insisted that young Ada have no connection to her father's friends or even his interests, so Ada turned to mathematics. She worked with her friend Charles Babbage on the tables of numbers for Babbage's "Analytical Engine"-a mechanical computer-which was not built in his lifetime. But Ada's contribution to the work, as well as her idea that computers could be used not only for mathematics but also for creative works such as music, has caused many people to refer to Ada as "the world's first computer programmer." Babbage called her the Enchantress of Numbers.</p>
<p>Ada grew to control her temper and insecurities, and was married at nineteen to William King, a baron, who became the Count of Lovelace three years later. This is why Ada is more commonly known as Ada Lovelace. She had three children-Byron, Annabella, and Ralph-and died of cancer at the age of thirty-six. She continues to inspire scientists and mathematicians to this day, and many worthwhile projects are named after her.</p>
<%= clear %>


<%= img("Mary.png","right", 15) %>
<h3>Mary Godwin</h3>
<p>Mary Wollstonecraft Godwin (1797-1851) was the daughter of the famous feminist writer Mary Wollstonecraft (who died ten days after giving birth) and the political philosopher William Godwin. William Godwin married Mary Jane Clairmont in 1801, and Mary grew up in a mixed household of half siblings and stepsiblings in Somers Town, in northern London. She read broadly and had an appetite for adventure and romanticism. She ran away with Percy Shelley at age sixteen, and over one very famous weekend with Shelley, Lord Byron (Ada's father), and early vampire novelist Dr. John Polidori, Mary came up with the idea for the world's first science-fiction novel-Frankenstein; or, The Modern Prometheus-which she wrote at age nineteen. </p>
<p>In real life, Mary was eighteen years older than Ada. But I thought it would be more fun this way-to cast these two luminaries as friends.</p>
<%= clear %>


<h3>Peebs</h3>
<p>Percy Bysshe (rhymes with "fish") Shelley (1792-1822) was an important poet and best friend to Ada's father, Lord Byron. Percy came from a wealthy family, and he offered to support Mary's father and the Godwin family. At age twenty-two, he ran off with then-sixteen-year-old Mary to Switzerland, and they were married two years later. He drowned at the age of twenty-nine when his sailboat sank in a storm.</p>
<p>While in reality, Peebs had died even before our story begins, I have extended his life so that they can be in this story together. It is Peebs, as Ada's father's friend and Mary's future husband, who provides a real-life link between our two heroines.</p>
<%= clear %>


<h3>Charles</h3>
<p>Charles Dickens (1812-1870) is considered one of the great writers of Victorian England. He really was fourteen in 1826, and worked in a boot-polish factory gluing labels. He loved books and was a keen observer of everyday life in London. He is best known to young readers as the author of A Christmas Carol. The bit about the carriage and pretending not to be there is made up, although he was certainly clever enough-and cheeky enough-to have gotten away with it.</p>
<%= clear %>